{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "@Assets": "./src/assets",
          "@Constants": "./src/constants",
          "@Components": "./src/components",
          "@Locales": "./src/locales",
          "@Screens": "./src/screens",
          "@Router": "./src/router",
          "@Services": "./src/services",
          "@Store": "./src/store",
          "@Styles": "./src/styles",
          "@Types": "./src/types"
        }
      }
    ]
  ]
}